<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>anaconda 安装指南</title>
</head>
<body>
<h1>Anaconda 安装指南</h1>
    <p>1. 直接点击下一步</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5fabb85ab.png">
    <p>2. 选择我同意</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5fabb6708.png">
    <p>3. 可以选择All Users安装，也可以选择Just Me安装</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5fabb7155.png">
    <p>4. 选择路径之后，点击下一步</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5fabb95d3.png">
    <p>5. 勾选Add Anaconda to my PATH environment variable，然后点击install</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5fabc4ecf.png">
    <p>6. 等待安装完成，点击下一步</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5fabb8123.png">
    <p>7. 点击下一步</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5facad5d1.png">
<h1>检查Anaconda安装是否成功</h1>
    <p>1. 输入win+r, 打开运行窗口，输入cmd，回车打开命令行窗口</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5facc7aa2.png">
    <p>2. 输入conda --version，查看conda版本号，如果安装成功，会显示conda的版本号</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5face70e2.png">
    <p>3. 输入conda config --set custom_channels.auto https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/，设置conda镜像源</p>
    <img src="https://bu.dusays.com/2024/10/01/66fb5faae0185.png">
</body>
</html>