<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pycharm community 安装指南</title>
</head>
<body>
    <h1>Pycharm Community 安装指南</h1>
    <h2>目前只针对windows系统</h2>
    <div>
        <p>1. 打开安装包后点击下一步继续</p>
        <img src="https://bu.dusays.com/2024/09/30/66fa908095c5f.png">
        <p>2. 选择安装路径，点击下一步继续</p>
        <img src="https://bu.dusays.com/2024/09/30/66fa90824e985.png">
        <p>3. 将四个选项都勾选上，点击下一步继续</p>
        <img src="https://bu.dusays.com/2024/09/30/66fa90816e86b.png">
        <p>4. 点击安装，等待安装完成</p>
        <img src="https://bu.dusays.com/2024/09/30/66fa9083199a1.png">
        <p>5. 选择否，我会在之后重新启动，然后点击完成</p>
        <img src="https://bu.dusays.com/2024/09/30/66fa9083e16a0.png">
    </div>
    <div>
        <h1>Pycharm Community 配置流程</h1>
        <p>1. 打开Pycharm Community,选择中文语言包，点击下一个继续</p>
        <img src="https://bu.dusays.com/2024/09/30/66faac9889d8d.png">
        <p>2. 勾选上我确认我已阅读并接受此《用户协议》的条款，点击继续</p>
        <img src="https://bu.dusays.com/2024/09/30/66faaea654497.png">
        <p>3. 选择新建项目</p>
        <img src="https://bu.dusays.com/2024/09/30/66faac98adcc1.png">
        <p>4. 任意输入项目名称，选择项目路径，解释器如果没有需要配置的，默认即可，可以直接点击创建</p>
        <img src="https://bu.dusays.com/2024/09/30/66faac98d179d.png">
        <p>5. 整个界面的介绍</p>
        <img src="https://bu.dusays.com/2024/09/30/66faac98a7ca6.png">
        <p></p>
        <img src="https://bu.dusays.com/2024/09/30/66faac98e951e.png">
        <p></p>
        <img src="https://bu.dusays.com/2024/09/30/66fa9083e16a0.png">
    </div>
    <div>
        <h1>Pycharm Community 简单使用设置</h1>
        <img src="https://bu.dusays.com/2024/09/30/66faac9989513.png">
        <img src="https://bu.dusays.com/2024/09/30/66faac99b9e7d.png">
        <img src="https://bu.dusays.com/2024/09/30/66faac99dccdd.png">
    </div>
    <div>
        <h1>安装第三方包注意事项</h1>
        <img src="https://bu.dusays.com/2024/09/30/66faac9a0571e.png">
    </div>
    <div>
        <h1>Pycharm Community 常用快捷键</h1>
        <p>1. 打开项目：ctrl+shift+o</p>
        <p>2. 保存：ctrl+s</p>
        <p>3. 运行：ctrl+shift+f10</p>
        <p>4. 调试：ctrl+shift+f9</p>
        <p>5. 跳转到定义：ctrl+b</p>
        <p>6. 跳转到声明：ctrl+alt+b</p>
        <p>7. 格式化代码：ctrl+alt+l</p>
        <p>8. 代码提示：ctrl+space</p>
        <p>9. 代码重构：alt+shift+f</p>
        <p>10. 代码生成：ctrl+n</p>
        <p>11. 代码格式化：ctrl+alt+l</p>
        <p>12. 代码折叠：ctrl+m</p>
        <p>13. 代码展开：ctrl+m</p>
        <p>14. 代码注释：ctrl+/</p>
        <p>15. 代码取消注释：ctrl+shift+/</p>
        <p>16. 代码查找：ctrl+f</p>
        <p>17. 代码替换：ctrl+r</p>
        <p>18. 代码格式化：ctrl+alt+l</p>
    </div>


</body>
</html>