<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python安装指南</title>
</head>
<body>
    <h1>Python安装指南</h1>
    <h2>目前只针对windows系统</h2>
<a>
    <p>1.勾选add python.exe to PATH，然后选择Customize Installation</p>
    <img src="https://bu.dusays.com/2024/09/29/66f9668ab6d5c.png"/>
    <p>2.默认什么都不用选，直接下一步</p>
    <img src="https://bu.dusays.com/2024/09/29/66f967173d395.png"/>
    <p>3.安装路径不一定要选择c盘，可以选择其他盘，然后点击Install</p>
    <img src="https://bu.dusays.com/2024/09/29/66f968db3095d.png"/>
    <p>4.等待安装完成</p>
    <p>5.安装完成后，win+r,输入cmd回车，在命令行中输入python --version，如果出现版本号，则安装成功</p>
</a>

</body>
</html>